<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madugada.fallaobispo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/escudo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/escudo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="app.Activities.PublicarNoticia"
            android:label="@string/title_activity_publicar_noticia"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="app.Activities.DetalleEvento"
            android:label="@string/title_activity_detalle_evento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.Activities.DetalleNoticia"
            android:label="@string/title_activity_detalle_noticia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.Activities.Dashboard" />
        <activity
            android:name=".antiguo.ListaEmails"
            android:label="@string/title_activity_lista_emails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.Activities.DashboardAdministrador" />
        <activity android:name="app.Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".antiguo.FormularioSugerencias" />
        <activity android:name=".antiguo.MainActivity" />
    </application>

</manifest>